# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods (just in case)
Pods/

# Carthage
Carthage/Build/
